h1{
    color: lightcoral;
}
ul{
    color: goldenrod;
    list-style: none;
}
#fruits-title{
    color: darkslateblue;
}
#places-title{
    color: blueviolet;
}
.importent-places{
    color: brown;
}
.fruits-container ul li{
    color: darkmagenta;
}
.yellow-bg{
    text-align: center;
}
.large-text{
    font-size: 2em;
}